<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>TENTANG APLIKASI</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <div style="text-align: center; padding: 25px 15px 10px 15px;">
      <img [src]="logo" alt="Logo SIMOBILE"
        style="width: 80px; height: 80px; object-fit: contain; margin-bottom: 10px;" />

      <h2><b>{{ nama }}</b></h2>
      <p>{{ versi }}</p>
      <p style="color: gray; margin-top: 5px;">{{ toko }}</p>
    </div>

    <ion-card-content>
      <p style="text-align: center; line-height: 1.5; margin-bottom: 15px;">
        {{ deskripsi }}
      </p>

      <ion-list lines="full">
        <ion-item>
          <ion-icon name="code-slash-outline" slot="start" color="primary"></ion-icon>
          <ion-label>
            <p>Pengembang</p>
            <h3>{{ developer }}</h3>
          </ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-icon name="mail-outline" slot="start" color="primary"></ion-icon>
          <ion-label>
            <p>Kontak Email</p>
            <h3>{{ emailDeveloper }}</h3>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>